html, body {
    min-height: 100%;
}

.ts.sidebar {
    height: 100%;
}

.pusher {
    overflow-x: hidden;
}

.clearfix::after {
    display: block;
    content: '';
    clear: both;
}

div.table.wrapper {
    overflow-x: auto;
    width: 100%;
}

/* nav bar */
button#toggleSidebar {
    border-radius: 0;
    border-bottom-right-radius: .28571rem;
    visibility: hidden;
}

.pusher > nav {
    z-index: 14;
    position: sticky;
    position: -webkit-sticky; /* safari */
    left: 0;
    top: 0;
}

.pusher > .progress:not(.invisible) + nav {
    margin: -3px; /* to overlap progress */
}

/* loader */
.pusher > .progress.invisible {
    display: none;
}

/* content */
#header {
    margin-top: 5px;
}

#content {
    padding-bottom: 1.5em;
}

/* likers list */
details.ts.accordion div.content {
    padding-left: 1em;
}

/* user avatar */
#avatar {
    max-width: 15em;
    max-height: 15em;
    width: auto;
    height: auto;
}

@media (max-width: 768px) {
    .ts.visible.sidebar:not(.overlapped) ~ .pusher.squeezable {
        /* RWD fix */
        width: 100vw;
        left: 0;
    }

    button#toggleSidebar {
        visibility: visible;
    }

    .visible.sidebar ~ .pusher > nav {
        width: calc(100vw - 230px);
        transform: translate3d(230px, 0, 0);
        transition: transform .45s cubic-bezier(0.23, 1, 0.32, 1);
        will-change: transform;
    }
}